#banner{
  min-width: 1300px;
  height:320px;
  /*배경이미지와 그라디언트를 겹쳐서 사용할 수 있다.*/
  background: linear-gradient(0deg,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6)100%)
  , url(../img/banner.jpg) center/cover;
  /*감싸는 요소에 색넣어서 만드는게 아니라
  이렇게도 배경에 색넣기 가능함*/
  text-align: center;
  color:#fff;
  padding-top:80px;
  box-sizing: border-box;
}
#banner>h1{
  font-size:32px;
  line-height: 80px;
}
#banner>p{
  font-size: 16px;
  line-height: 26px;
}

/*numbers*/
#numbers{
  width:1300px;
  margin:auto;
  background-color: #10c9c3;
  color:#fff;
  padding:100px 0px;
  display:flex;
}
#numbers>.item{
  width:25%;
  height:40px;
  border-right: 2px solid #fff;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items:center;
}

#numbers>.item:last-child{
  border-right: 0;;
}
.item>img{
  margin-right: 20px;
  position:relative;
  bottom:1px; /*살짝틀어져 보일때 position과 bottom을 조정해서 정렬*/
}
.item>p{
  font-size:12px;
  line-height: 20px;
  text-transform: uppercase;/*대문자로 변경*/
}
.item>p>b{font-size:16px;}

/*about_me*/
#about_me{
  width:1300px;
  margin: auto;
  height: 520px;
  background-color: #f5f5f5;
  display: flex;
}
#about_me>div{
  width:50%;
  height: 520px;
  padding:120px;
  box-sizing: border-box;
}
#about_me>.largeImg{
  background: url(../img/about_me.jpg) center/cover;
}
#about_me>.txt>h1{
  font-size:28px;
  line-height: 40px;
  color:#191919;
}
#about_me>.txt>p{
  font-size: 16px;
  line-height: 20px;
  color:#787878;
  margin:20px 0;
}

#about_me>.txt>.sigh{margin-top:40px;}

/*project*/
#project{
  width:1300px;
  margin:auto;
  height:360px;
  padding:80px 0px;
  box-sizing: border-box;
  text-align: center;
}
#project>h1{
  font-size: 28px;
  color:#191919;
  line-height: 40px;
}
#project>p{
  font-size: 16px;
  color:#787878;
  margin:20px 0px 40px;
}
#project>a{
  width:170px;
  height:50px;
  border:0;
  outline:0;
  background-color: #10c9c3;
  color:#fff;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}
#project>button:hover{
  background-color: #0ab6b1;
}