header{
  min-width: 1300px;
  height:80px;
  background-color: #fff;
}
header>.wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 110px;
}
.navi{
  display: flex;
  line-height: 80px;/*align-items:center줘서
  아이콘도 같이 중앙에 배치되는것*/
}
.navi>li{
  margin-left: 32px;
  color:#191919;
  font-size: 16px;
}
.navi>li.on{color:#10c9c3;}