#main{
  min-width: 1300px;
  height:320px;
  background-color: #f6f6f6;
  padding-top:80px;
  box-sizing: border-box;
  color:#191919;
  text-align: center;
}
#main>h1{
  font-size: 36px;
  line-height: 80px;
}
#main>p{
  font-size: 16px;
  line-height: 26px;
}

/*#contents*/
#contents>.wrap{
  display: flex;
  flex-wrap: wrap;/*box요소를 줄바꿈시켜 정렬*/
}
#contents .box{
  width:325px;
  height:280px;
  position: relative;
}
.box>.eye{
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  background-color:rgba(16,201,195,0.6);
/*눈아이콘적용*/
  background-image:url(../img/eye.png);
  background-repeat:no-repeat;
  background-position:center;
/*요소를 투명하게 설정*/
  opacity: 0;
  visibility: hidden;
  transition: all 0.5;/*변환효과*/
} 

/*box에 마우스를 올려놓으면 눈아이콘이 서서히 나타남*/
.box:hover .eye{opacity: 1; visibility: visible;}